APP_NAME=Screenly
BUNDLE_ID=com.siddharthvaddem.screenly

APPLE_ID=
TEAM_ID=
SIGN_IDENTITY="Developer ID Application: Samir Patil ()"
CSC_NAME="Samir Patil ()"

NOTARY_PROFILE=Screenly-notary
APPLE_APP_SPECIFIC_PASSWORD=
